* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero_section {
  padding: 4rem 0;
  background-color: #fff;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 8rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* grid-template-columns: repeat(2 1fr); */
  gap: 3rem;
  align-items: center;
}

.hero_img {
  width: 100%;
}

.hero_text_box {
  padding: 5rem 0;
}

.hero_primary_text {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 60px;
  line-height: 85px;
  /* or 90px */

  letter-spacing: 0.1em;

  color: #1c1c1d;
}

.btn {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.btn a {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-decoration: none;
  cursor: pointer;

  margin-left: 1rem;
  color: #1c1c1d;
}

/* .reverse_end {
  grid-column: 2;
}

.reverse_start {
  grid-column: 1;
} */

.second_section {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 8rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* grid-template-columns: repeat(2 1fr); */
  gap: 3rem;
  align-items: center;
}

.second {
  background-color: #f8f8f8;
  padding: 4rem 0 2.3rem 0;
}

.second_section_hero_img {
  width: 100%;
}

.second_section_text_box {
  padding: 5rem 0 8rem 0;
}

.second_section_text_box p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  line-height: 3rem;
  /* or 30px */

  color: rgba(28, 28, 29, 0.7);
}

.second_section_primary_text {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 60px;
  line-height: 80px;
  /* or 90px */

  letter-spacing: 0.1em;

  color: #1c1c1d;
  /* // updated */
}
